testing.py
__pycache__/*
data/*
data.npy
data/data.csv
data/Train00.csv
data/Train00Fig_0_1.png
data/Train00Fig_1_1.png
data/Train00Fig_2_1.png
interpolation.py
__pycache__/midiWriter.cpython-310.pyc
__pycache__/NeuralNetwork.cpython-310.pyc
__pycache__/oscWriter.cpython-310.pyc
__pycache__/socketClientUx.cpython-310.pyc
__pycache__/NeuralNetwork.cpython-310.pyc
__pycache__/oscWriter.cpython-310.pyc

MidiCCclass.py
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/CapstoneWebClient/FileContentIndex/012e43f8-a86d-48f6-b0db-19a499641a1a.vsidx
.vs/CapstoneWebClient/v17/.wsuo
/.vs/CapstoneWebClient/FileContentIndex/f101aee4-da01-42e6-bbb5-29c03a6edec3.vsidx
*.vsidx
/ArpTest/data/test/confidences.npy
/ArpTest/data/test/controls.csv
/ArpTest/data/test/Flat.csv
/ArpTest/data/test/Flat.npy
/ArpTest/data/test/Flat_test.csv
/ArpTest/data/test/Flat_test.npy
/ArpTest/data/test/Flat_test_truth.csv
/ArpTest/data/test/Flat_test_truth.npy
/ArpTest/data/test/Flat_truth.csv
/ArpTest/data/test/Flat_truth.npy
/ArpTest/data/test/Left.csv
/ArpTest/data/test/Left.npy
/ArpTest/data/test/Left_test.csv
/ArpTest/data/test/Left_test.npy
/ArpTest/data/test/Left_test_truth.csv
/ArpTest/data/test/Left_test_truth.npy
/ArpTest/data/test/Left_truth.csv
/ArpTest/data/test/Left_truth.npy
/ArpTest/data/test/model.model
/ArpTest/data/test/modelLog.csv
/ArpTest/data/test/networks.csv
/ArpTest/data/test/predictions.npy
/ArpTest/data/test/Right.csv
/ArpTest/data/test/Right.npy
/ArpTest/data/test/Right_test.csv
/ArpTest/data/test/Right_test.npy
/ArpTest/data/test/Right_test_truth.csv
/ArpTest/data/test/Right_test_truth.npy
/ArpTest/data/test/Right_truth.csv
/ArpTest/data/test/Right_truth.npy
/data - Copy
/data - Copy/ArpTest/data/test
/data - Copy/test
/data - Copy (2)/test
/data - Copy (3)/test
/data - Copy (3)/test/confidences.npy
/data - Copy (3)/test/controls.csv
/data - Copy (3)/test/Down.csv
/data - Copy (3)/test/Down.npy
/data - Copy (3)/test/Down_test.csv
/data - Copy (3)/test/Down_test.npy
/data - Copy (3)/test/Down_test_truth.csv
/data - Copy (3)/test/Down_test_truth.npy
/data - Copy (3)/test/Down_truth.csv
/data - Copy (3)/test/Down_truth.npy
/data - Copy (3)/test/Flat.csv
/data - Copy (3)/test/Flat.npy
/data - Copy (3)/test/Flat_test.csv
/data - Copy (3)/test/Flat_test.npy
/data - Copy (3)/test/Flat_test_truth.csv
/data - Copy (3)/test/Flat_test_truth.npy
/data - Copy (3)/test/Flat_truth.csv
/data - Copy (3)/test/Flat_truth.npy
/data - Copy (3)/test/model.model
/data - Copy (3)/test/modelLog.csv
/data - Copy (3)/test/networks.csv
/data - Copy (3)/test/predictions.npy
/data - Copy (3)/test/Up.csv
/data - Copy (3)/test/Up.npy
/data - Copy (3)/test/Up_test.csv
/data - Copy (3)/test/Up_test.npy
/data - Copy (3)/test/Up_test_truth.csv
/data - Copy (3)/test/Up_test_truth.npy
/data - Copy (3)/test/Up_truth.csv
/data - Copy (3)/test/Up_truth.npy
