testing.py
__pycache__/*
data/*
data.npy
data/data.csv
data/Train00.csv
data/Train00Fig_0_1.png
data/Train00Fig_1_1.png
data/Train00Fig_2_1.png
interpolation.py
__pycache__/midiWriter.cpython-310.pyc
__pycache__/NeuralNetwork.cpython-310.pyc
__pycache__/oscWriter.cpython-310.pyc
__pycache__/socketClientUx.cpython-310.pyc
__pycache__/NeuralNetwork.cpython-310.pyc
__pycache__/oscWriter.cpython-310.pyc

MidiCCclass.py
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/CapstoneWebClient/FileContentIndex/012e43f8-a86d-48f6-b0db-19a499641a1a.vsidx
.vs/CapstoneWebClient/v17/.wsuo
/.vs/CapstoneWebClient/FileContentIndex/f101aee4-da01-42e6-bbb5-29c03a6edec3.vsidx
*.vsidx
